@use '../utils' as utils;

.content {
  margin-left: 35px;
  margin-block: 25px;

  &__title {
    @include utils.fluid-size(1.5rem, 2rem, font-size);

    font-family: var(--ff-primary);
    color: var(--clr-base-400);
    margin-bottom: 10px;
  }

  p {
    @include utils.fluid-size(0.8125rem, 1rem, font-size);
  }
}
