// -------------- Main palette map ----------------
$palette-map: (
    base: (
      100: var(--clr-pink-100),
      200: var(--clr-pink-200),
      250: var(--clr-pink-250),
      300: var(--clr-pink-300),
      400: var(--clr-pink-400),
      450: var(--clr-pink-450),
      500: var(--clr-pink-500),
      600: var(--clr-pink-600),
      700: var(--clr-pink-700),
      800: var(--clr-pink-800),
      900: var(--clr-pink-900),
    ),

    neutral: (
      0: hsl(0, 0%, 100%),
      100: hsl(0, 0%, 90%),
      200: hsl(0, 0%, 80%),
      300: hsl(0, 0%, 70%),
      400: hsl(0, 0%, 60%),
      500: hsl(0, 0%, 50%),
      600: hsl(0, 0%, 40%),
      700: hsl(0, 0%, 30%),
      800: hsl(0, 0%, 20%),
      900: hsl(0, 0%, 10%),
      970: hsl(0, 0%, 7%),
      1000: hsl(0, 0%, 0%),
    ),

    'pink': (
      100: hsl(330, 50%, 90%),
      200: hsl(330, 50%, 80%),
      250: hsl(330, 50%, 75%),
      300: hsl(330, 50%, 70%),
      400: hsl(330, 50%, 60%),
      500: hsl(330, 50%, 50%),
      600: hsl(330, 50%, 40%),
      700: hsl(330, 50%, 30%),
      800: hsl(330, 50%, 20%),
      900: hsl(330, 50%, 10%),
    ),
);
// ------------------------------------------------


// ------------- Alpha palette map ----------------
$palette-alpha-map: (
  neutral: (
    1000: (
      100: hsla(0, 0%, 0%, 0.9),
      200: hsla(0, 0%, 0%, 0.8),
      300: hsla(0, 0%, 0%, 0.7),
      400: hsla(0, 0%, 0%, 0.6),
      500: hsla(0, 0%, 0%, 0.5),
      600: hsla(0, 0%, 0%, 0.4),
      700: hsla(0, 0%, 0%, 0.3),
      800: hsla(0, 0%, 0%, 0.2),
      900: hsla(0, 0%, 0%, 0.1),
    ),
  ),
);
// ------------------------------------------------
