---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header";
import MainWrapper from "../../layouts/MainWrapper.astro";
import Aside from "../../components/Aside.astro";
import Content from "../../layouts/Content.astro";
import Footer from "../../components/Footer";
---

<Layout title="Nesting | NativeSass">
  <Header />

  <MainWrapper>
    <Aside />

    <main>
      <Content title="Nesting">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae
          accusantium, ex necessitatibus consequuntur corrupti officia maiores,
          est explicabo expedita ipsam rem eveniet veniam dicta mollitia!
          Voluptates deleniti eius repellat?
        </p>
      </Content>
    </main>
  </MainWrapper>

  <Footer />
</Layout>
